@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

a:link {color:#358fcb; text-decoration:none;}
a:hover {color:#358fcb; text-decoration:none;}
a:active {color:#358fcb; text-decoration:none;}
a:visited {color:#358fcb; text-decoration:none;}

.shead{


color:#444444;

text-transform:capitalize;

font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}



.shead th{

padding:10px;

text-align:left;

}



.Red,.Green,.Yellow,.Amber{

	font-weight:bold;

	color:#FFF;

	/*text-align:center;*/

}



.Red{

	background-color:#fc0000;
	color:#fff;

}



.Green{

	background-color:#92c83e;
	color:#000;

}



.Yellow{

	background-color: #FF0;
	color:#000;

}

.Amber{

	background-color: #F90;
	color:#fff;

}



.fGreen{

	color:#8dc62d;

}



.fAmber{

	color:#F90;

}



.fYellow{

	color:#FF0;

}



.fRed{

	color:#F00;

}





p {margin:2px;}

body {font-family: Arial, Helvetica, sans-serif; font-size:14px;}

.pg {
		/*border:1px solid #cccccc; */
		width:950px;
	 	min-height:1150px; 
	 	float:left;
		margin-left:30px;
	 	page-break-after:always; 
		margin-top:20px;
	/* margin:auto;*/
}

.ipg {float:left; margin:15px; width:920px;min-height:1110px;}

.clear {clear:both;}

.cleared {clear:both; page-break-after:always;}

.footer{float:left; width:920px; color:#7f7f7f;}

.fta {/*background-color:#890d04;*/ font-family:  Arial, Helvetica, sans-serif; height:40px; line-height:40px; width: 700px; font-size:12px; float:left; text-align:center; /*color:#fff;*/}

.ftb {/*background-color:#F00;*/ font-family: Arial, Helvetica, sans-serif; height:40px; line-height:40px; margin-left:20px; width:200px; float:left; text-align:center; font-size:14px;}

.fta a:{color:#7f7f7f; }

.ftb a:link{color:#7f7f7f; text-decoration:none; }

.ftb a:hover{color:#7f7f7f; text-decoration:none; }

.ftb a:visited{color:#7f7f7f; text-decoration:none; }

.ftb a:active{color:#7f7f7f; text-decoration:none; }

.mbd {height:1100px; float:left; width:920px; margin-bottom:30px; margin-top:20px; }



h1 {font-size:40px;font-family:Arial, Helvetica, sans-serif; color:#20202e;}

td {line-height:25px; padding-left:15px;}

.tda {border-right:1px solid #ccc; width:240px;}

.tdb {width:680px;}

.tdy {width:325px;}

.tdz {width:325px;}

.nt{

	list-style:none;

	margin:0px;

	padding:0px;

}

.mt{

	padding:8px;

}

.tdc {

	border-top: 1px solid #CCC;

	border-right:1px solid #ccc;

	border-bottom: 1px solid #CCC;

	width:240px;

}

.tdd {border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; width:650px;}



.pg .ipg .mbd table tr .tdd strong {

	color: #92c83e;

	font-size: 20px;

}



.tbl{width:100%;font-family: 'montserratregular';}
.tbl h1{font-weight: 400;font-size: 21px;color: #fff;background: #4e67c8;padding: 10px;float: left;width: 98%;font-family: 'montserratregular';}
.tbl h1 span{float:right; text-align:right;  font-size: 16px;line-height: 31px;}

.headline {width:920px; height:50px; background-color:none; color:#a1a0a0; text-transform:capitalize; font-family:Arial, Helvetica, sans-serif; font-size:26px; line-height:50px; margin-top:25px; margin-bottom:15px;}



.ftxt {width:890px; float:left; font-size:11px; margin-left:15px; text-align:justify;}

.ctxt {border-top: 5px solid #F00; border-bottom:5px solid #F00; width:920px; height:80px; float:left; margin-top:20px; margin-bottom:20px; text-align:center; line-height:40px;}


/* AYAZ ALI SHAH CSS START */
.report-cover-section{
	width:915px;
	height:auto;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#444444;
	  margin-top: 50px;
	}
.report-basic-info{
	margin-top:10px;
	/*width:500px;
	height:auto;
	float:left;
	margin-top: 171px;*/
	}
.report-basic-info h2{
	color: #c31e24;
	font-size: 35px;
	/*position: absolute;
	top: 80px*/
  }
.dark-blue-color{
	color:#1f497d;
	}
.light-dark-color{
	color:#358fcb;}
.report-basic-info span{
	
	font-size: 18px;
  	font-weight: bolder;}
.right-check-logo{
	background:url('/img/check.png');
	width:300px;
	height:125px;
	background-repeat:no-repeat;
	position: absolute;
	top: 70px;
	right: -113px;
	}
.rp-head-cont{
	position:absolute;
	top: 68px;}
.rp-head-cont-second{
	width:100%;
	}
.global-bg{
	background:url('/img/globe.png');
	width:100%;
	height:485px;;
	background-repeat:no-repeat;
	background-position: 388px 135px;
	position:relative;
	}
.middle-image-section{
	background:url('/img/newmid.jpg');
	width:100%;
	height:268px;
	background-repeat:no-repeat;
}
.mid-sec{
	width:100%;
	height:auto;
	position:relative;
	}
.mid-logo{
	background:url('/img/bcpl_final_logo.png');
	width: 300px;
	height: 485px;
	background-repeat: no-repeat;
	position: absolute;
	top: 39px;
	left: 586px;
}
.background-image{
	background:url('/img/background.jpg');
	width:100%;
	height:485px;;
	background-repeat:no-repeat;
	padding-top: 74px;
	}
.dark-red-color{
	color:#c31e24;}
.report-term-and-condition{
text-align: left;
    padding: 15px;
    font-size: 12px;
    font-family: 'montserratregular';
    color: #666;
    /* text-transform: lowercase; */
    line-height: 18px;
  }
.report-term-and-condition h2{
	text-align: left;
    color: #666;
}
.report-section{
	margin-bottom:18px;
	}
.report-section span{
	color:#c31e23;
	font-weight: 600;
	}
.for-large-heading{
	text-align: center;
	color: #595959;
	line-height:43px;
  }
.diclaimer-first-cont{
    margin-top: 0px;
    padding: 0;
    font-size: 12px;
	line-height: 20px;
  }
.summary-heading{
  color: #595959;}

/*table.table_OddEven tr:nth-child(odd) { blue color
    background-color: #e9f5f9;
	color:#888888;
}*/
/*
	BEFORE 
table.table_OddEven tr:nth-child(even) {
    background-color: #ffffff;
	color:#888888;
	
	
}
table.table_OddEven tr:nth-child(odd) {
    background-color: #e1e1ea;
	color:#888888;.
	BEFORE 
}*/
table.table_OddEven tr:nth-child(even) {
    background-color: #ffffff;
	color:#000000;
	
	
}
table.table_OddEven tr:nth-child(odd) {
    background-color: #f5c1c3;
	color:#000000;
}

table.table_OddEven .txt-bold{
	font-weight:bold;}
table.table_OddEven tr{
	font-size:12px;}
table.rp_second_table{
	border:none;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.rp_second_table th{background:#fff;text-align: left;padding: 8px 25px;}
.rp_th_head th{
	background:#ffffff;
	border-right: 1px solid #c31e24;
	border-bottom:1px solid #c31e24;
	}
.sec-main-header{
	width:100%;
	height:auto;
	margin:auto;
	font-family: 'montserratregular';
	color:#444444;
	display: inline-block;
    padding-bottom: 20px;
    border-bottom: 4px solid #4e67c8;
	/*margin-top:120px;*/
	}
.sec-pdf-left-sec{
	margin-left: 0;
    padding-top: 8px;
    width: 50%;
    float: left;
}
.sec-pdf-left-sec img{float:left;}
.text-red{color:#c31e24;}
.sec-pdf-left-sec .logo_in {
    width: 303px;
    float: left;
    color: #808083;
    font-size: 12px;
/*    font-family: Arial, sans-serif;*/
	line-height: 16px;
    padding-top: 10px;
}

.font-bold{
	font-weight:bold;}
.sec-pdf-right-sec{
	width:49%;
	height:auto;
	float:right;
	text-align:right;
/*	font-family:Arial;
*/	}
.sec-pdf-right-sec{
    font-size: 14px;
    line-height: 17px;
    padding-top: 17px;
    color: #808083;
}
.sec-pdf-right-sec p{
	font-size: 12px;
    font-weight: 700;
    color: #7f7f7f;	
}
.sec-pdf-right-sec p a{
	color: #7f7f7f;	
}
.sec-straigth-bar{
	width:100%;
	height:13px;
	background:#bfbfbf;
	border:3px solid #f2f2f2;
	}
.sec-logo_style_design_lf{
	width:100px;
	height:150px;
	float:right;
	margin-right:35px;}
.sec-main-footer1 .cnt-bgc-logo{
	float: left;
}
.sec-main-footer1 .cnt-bgc-txt{
	float: right;	
}
.sec-main-footer1 .sec-logo_style_design_rgt{
	width: 237px;
    height: 103px;
    float: left;
    margin-right: 0;
}
.sec-main-footer1 .sec-logo_style_design_lf{
	width: 167px;
    height: 103px;
    float: left;
    margin-right: 0;	
}
.sec-main-footer1 .cnt-bgc-txt{
	text-align: right;
	float: right;
	line-height: 17px;
	color: #7f7f7f;
	font-size:13px;
}
.sec-main-footer1 .cnt-bgc-txt strong {
    font-weight: bold;
    color: #d71d24;
    font-size: 14px;

}
.sec-main-footer1 .pdf-left-sec-ft{
	width:100%;
	float:left;
}
.sec-main-footer1 .pdf-left-sec-ft ul{
	list-style-type:0;
	margin:0;
	padding:0;	
}
.sec-main-footer1 .pdf-left-sec-ft ul li{
	display: inline-block;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    color: #7f7f7f;
    padding: 0 6px 0 0;
    border-right: 1px solid #7f7f7f;
    margin: 0 6px 0 0;
}
.sec-main-footer1 .pdf-left-sec-ft ul li:last-child{
	border-right: none;	
}
.sec-main-footer1{
	width:100%;
	float:left;
	font-family: 'montserratregular';
}
.cnt-bgc-txt-bt{
/*	background: #c31e24;*/
    color: #c31e24;
/*    padding: 11px 9px;
*/    font-size: 12px;
    margin: 0px 0 0;
}
.disclaimer{    width: 100%;
    display: inline-block;
    font-family: 'montserratregular';
}
.disclaimer h5{font-size: 18px;
    color: #666;
    margin-bottom: 10px;}
.disclaimer p{
	font-size: 13px;
    color: #666;
    margin-bottom: 18px;
    line-height: 22px;}
.sec-logo_style_design_rgt{
	width:100px;
	height:150px;
	float:right;
	}
.resultdiv ul li h3{
	font-size:20px;
	margin:0;
}
.red-text{ color:#F00;}
.cnt-bgc-txt{
	width: 355px;
	height: auto;
	float: left;
	font-size: 10px;
	color: #666666;
	margin-top: 0;
	}
.cnt-bgc-txt strong{
	font-weight:bold;
	color:#444444;
	}
.cnt-bgc-logo{
	width:535px;
	height:auto;
	float:right;
	font-size: 20px;
	}
.sec-logo_style_design_lf{
	width:100px;
	height:150px;
	float:right;
	margin-right:154px
	}
.sec-logo_style_design_rgt{
	width:100px;
	height:150px;
	float:right;
	margin-right:140px;
	}
.about-content{
	  line-height: 15px;
	  color: #666666;
	  font-size:9px;
	}
.about-content b{
	font-size:15px;}
.sec-logo_style_design_lf_head{
	width:100px;
	height:70px;
	float:right;
}
.sec-logo_style_design_rgt_head{
	width:78px;
	height:70px;
	float:right;
	margin-top: 0px;
	}
	
	
/* for map page */

.map-main-header{
	width:950px;
	height:auto;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	color:#444444;
	/*border:1px solid #000000;*/
	/*background:url('../img/map.png');
	background-repeat:no-repeat;*/
	text-align:center;
	background-position: center top;
	padding-bottom:10px;
	margin-top:270px;
	}
.support-cont{
	width:720px;
	height:263px;
	margin:auto;
	background:url('../img/report_support_200.png');
	background-repeat:no-repeat;
	text-align:center;
	background-position: center top;
	}
/*.for-blue-text{ blue color
	color:#358fcb;
	}*/
.for-blue-text{
	color:#c31e23;
	}
.txt-container{
	width: 90%;
	margin: auto;
	color: #888888;
	font-size: 16px;
	font-weight: 500;
	}
.left-cont{
	width:45%;
	height:auto;
	float:left;
	text-align:left;
	margin-left: 75px;
	}
.right-cont{
	width:45%;
	height:auto;
	float:right;
	text-align:left;
	}
.left-cont-txt-box{
	width:auto;
	height:auto;
	margin-bottom:45px;
	}
.right-cont-txt-box{
	width:auto;
	height:auto;
	margin-bottom:25px;
	}
.h2-txt{
	font-size:32px;}
.who-weare{
	float:left;}
.blue-cont{
	width:100%;
	height:175px;
	background:#4f81bd;
	padding: 23px 0px 2px 0px;
	position:relative;
}
.blue-left-cont{
	width:65%;
	float:left;
	text-align:left;
	color:#ffffff;
	font-size:13px;
	margin-left:38px;
	line-height:22px;
	}
.blue-right-cont{
	width:30%;
	position: absolute;
	float:right;
  	left: 70%;
  	top: -26%;
}
.orange-txt{
	color:#ffc943;
	font-size:18px;}
ul.ul-list li{
	list-style:none;
	}
.verified-color{
	color:#008000;
}
/* AYAZ ALI SHAH CSS START END */