.footer-main-header{
	width:960px;
	height:auto;
	margin-left:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#444444;
	}
.footer-boxes ul{
	margin:0;
	padding:0;
	}
.footer-boxes ul li{
	float:left;
	width:20%;
	height:25px;
	margin-bottom:10px;
	}
/*.footer-boxes ul li:nth-child(1){
	background:#8dc62d;
	}
.footer-boxes ul li:nth-child(2){
	background:#16b6eb;
}
.footer-boxes ul li:nth-child(3){
	background:#ffc943;
}
.footer-boxes ul li:nth-child(4){
	background:#ff4c20;
}*/
.footer-boxes ul li:nth-child(1){
	background:#c31e24;
	}
.footer-boxes ul li:nth-child(2){
	background:#ff6600;
}
.footer-boxes ul li:nth-child(3){
	background:#ffc000;
}
.footer-boxes ul li:nth-child(4){
	background:#8dc62d;
}
.footer-boxes ul li:nth-child(5){
	background:#008000;
}
.pdf-left-sec-ft{
	width:50%;
	height:80px;
	float:left;
}
.pdf-left-sec-ft ul{
	margin:0;
	padding:0;
	}
.pdf-left-sec-ft ul li{
	margin-top:10px;
	float:left;
	margin-right:5px;
	list-style:none;
	padding:0px 7px;
	border-right: 2px solid #444444;
	font-size:13px;
	}
.pdf-left-sec-ft ul li:nth-child(6){
	border:none;
	}
.pdf-right-sec-ft{
	width:50%;
	height:80px;
	float:right;
	font-size:13px;
	text-align:center;
}
.blue-color{
	color:#358fcb;
	}
.dark-red-color{
	color:#c31e24;
	}
.counter-box{
	width: 16px;
	height: 19px;
	padding: 8px 10px;
	/*background:#c0c0c0;*/
	color:#000000;
	/*border:1px solid #000000;*/
	float:left;
	font-size:20px;
	text-align:center;
	}
.ft-copy-right-text{
	margin-top:12px;
	}